.chamada__container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  width: 100%;
}

.chamada {
  max-width: 1170px;
  width: 100%;
}

.chamada__subtitulo {
  color: var(--vermelho-principal);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.chamada__descricao {
  color: var(--preto-texto);
  font-size: 20px;
  line-height: 30px;
  margin-top: 36px;
}

.numeros {
  display: flex;
  margin-top: 104px;
  justify-content: center;
}

.numeros__cards {
  text-align: left;
  margin-bottom: 104px;
  width: 100%;
}

.numeros__cards--titulo {
  color: var(--vermelho-principal);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 12px;
}

.numeros__cards--subtitulo {
  color: var(--preto-titulo);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.numeros__cards--descricao {
  color: var(--preto-texto);
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

.titulo__principal {
  font-size: 44px !important;
}

@media only screen and (max-width: 600px) {
  .chamada__container {
    margin-top: 32px;
    margin: 0 16px;
  }

  .titulo__principal {
    font-size: 36px !important;
  }
  .chamada__descricao {
    font-size: 16px;
  }

  .numeros {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
  }

  .numeros__cards {
    margin-bottom: 32px;
    text-align: center;
  }

  .numeros__cards--descricao {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .numeros {
    flex-direction: column;
    justify-content: center;
  }

  .numeros__cards {
    margin-bottom: 32px;
    text-align: center;
  }

  .numeros__cards--descricao {
    width: 100%;
  }
}
