.cabecalho__principal {
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.cabecalho__secundario {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}

.cabecalho__principal a {
  text-decoration: none;
}

.cabecalho__logo {
  align-self: center;
  display: flex;
}

.cabecalho__logo a {
  color: var(--preto--logo);
  font-size: 18px;
}

.cabecalho__logo img {
  margin-bottom: -7px;
  width: 27px;
}

.lista {
  align-items: center;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.lista__item {
  margin-right: 16px;
}

.lista__item a {
  color: var(--preto-texto);
  font-size: 16px;
}

.botao__padrao--cabecalho {
  padding: 10px 18px;
}

@media only screen and (max-width: 600px) {
  .cabecalho__secundario {
    flex-direction: column;
    margin: 0 16px;
  }
  .lista {
    margin: 16px 0;
  }
}
