@import url("./header.css");
@import url("./chamada.css");
@import url("./vagas.css");
@import url("./colaboradores.css");
@import url("./footer.css");

:root {
  --branco-principal: #ffffff;
  --vermelho-principal: #8e2424;
  --preto--logo: #34404e;
  --preto-texto: #667085;
  --preto-titulo: #101828;
  --borda-cards: #eaecf0;
  --cinza: #d0d5dd;
  --cinza-copyright: #98a2b3;
  --footer-cor-de-fundo: #f9fafb;
}

body {
  background-color: var(--branco-principal);
  font-family: "Inter", sans-serif;
}

.botao__padrao {
  background-color: var(--vermelho-principal);
  border-radius: 8px;
}

.botao__padrao a {
  color: var(--branco-principal);
}

.titulo__geral {
  color: var(--preto-titulo);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

@media only screen and (max-width: 600px) {
  .titulo__geral {
    font-size: 24px;
    line-height: 34px;
  }
}
